*{
    margin: 0;
    padding: 0;
}

ul{
    /* list-style-type:square;
    list-style-position:inside;
    list-style-image: url("./images/Food-Dome-icon.png"); */

    /* list-style: square inside url("./images/Food-Dome-icon.png"); */

    list-style:none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    /* theyre basically the same thing */
}

/* ul li::before{
    content: "\1F60F"

} */

li{
    display:inline;
    padding: 10px;
}